<p id="notice"><%= notice %></p>

<p>
  <b>Identity Type:</b>
  <%= @identity.identity_type %>
</p>

<p>
  <b>Username:</b>
  <%= @identity.identity_value %>
</p>


<%= link_to 'Edit', edit_identity_path(@identity) %> |
<%= link_to 'Back', @identity.user %>
